.layout { 
  display:flex; 
}

.sidebar {
  width:220px;
  background:#1f2937;
  min-height:100vh;
  padding:20px;
}
.sidebar a {
  display:block;
  color:#fff;
  text-decoration:none;
  padding:10px;
  margin-bottom:10px;
}
.main { flex:1; }
.navbar {
  background:#fff;
  padding:15px;
  display:flex;
  justify-content:space-between;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}
.content { padding:20px; }

